@font-face {
  font-family: Oswald;
  font-style: regular;
  font-weight: 400;
  src: local('Oswald Regular'),
       local('Oswald-regular'), 
       url(./fonts/static/Oswald-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  font-style: bold;
  font-weight: 600;
  src: local('Oswald Bold'),
       local('Oswald-bold'), 
       url(./fonts/static/Oswald-Bold.ttf);
}

body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}