.Favourites
    position: relative
    width: 1000px
    padding: 0 25px
    box-sizing: border-box
    display: grid
    gap: 10px
    margin: 0 auto 20px

@media(max-width: 1000px)
    .Favourites
        width: 100%