@import '../../variables/style'
    
.Header
    position: relative
    top: 0
    left: 0
    width: 100%
    padding: 25px $paddingMin1000
    margin: 0 0 20px 0
    box-sizing: border-box
    background-color: $base-color
    z-index: 10
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center

@media(max-width: $tablets)
    .Header
        padding: 25px

.Header__logo
    height: 36px
    cursor: pointer

.Header__username
    color: white
    font-size: 14px
    margin: 0 10px 0 0
    text-align: right
    font-weight: 700

.Header__username-button
    display: flex
    align-items: center
    cursor: pointer
    position: relative